@model SocialGoal.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_LayoutFlattyMain.cshtml";
}
<div class='row' id='content-wrapper'>
    <div class='col-xs-12'>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='page-header'>
                    <h1 class='pull-left'>
                        <i class='icon-th'></i>
                        <span>Grid</span>                        
                    </h1>
                    <div class='pull-right'>
                        <ul class='breadcrumb'>
                            <li>
                                <a href='index.html'>
                                    <i class='icon-bar-chart'></i>
                                </a>
                            </li>
                            <li class='separator'>
                                <i class='icon-angle-right'></i>
                            </li>
                            <li class='active'>Grid</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class='hr-half'>

    </div>
</div>
@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script type="text/javascript">
        var app = angular.module("app", []);
        app.controller('Ctrl', function ($scope, $filter, $http, $element) {
            $scope.activeItem = '';
            //加载Json数据
            $http.get('/Json/MenuData.js').success(function (data) {
                $scope.MenuData = data;
            });
            $scope.OpenMenu = function (item) {
                $scope.activeItem = item;
            }
            $scope.DataTypes = [
              { value: 1, text: '字节' },
              { value: 2, text: 'BIT位' },
              { value: 3, text: '状态位' }

            ];

        })

    </script>
}