@model SocialGoal.Model.Models.ReceiveDataLast
@{
    ViewBag.Title = "终端详细信息";
    Layout = "../Shared/_LayoutFlattyMain.cshtml";
}
@section styles{
    <link href="~/Content/assets/map.Default.css" rel="stylesheet" />
}
<div class='row' id='content-wrapper'>
    <div class='col-xs-12'>
        @Html.Partial("_PartialTerminalNav")
        <div class="row" ng-controller="TerminalCtrl">
            <div class='col-sm-12 box' style='margin-bottom: 0'>
                <div class='box-header blue-background'>
                    <div class='title'><i class=" icon-desktop "></i>  数据信息</div>
                    <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#">
                            <i class='icon-remove'></i>
                        </a>

                        <a class="btn box-collapse btn-xs btn-link" href="#">
                            <i></i>
                        </a>
                    </div>
                </div>
                <div class='box-content'>
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='box box-nomargin'>
                                <div class='box-header'>
                                    <div class='title'>档案信息</div>
                                    <div class='actions'>
                                        <span class='label label-success'>
                                            31%
                                            <i class='icon-arrow-up'></i>
                                        </span>
                                    </div>
                                </div>
                                <div class='box-content'>
                                    <table class='table' style='margin-bottom:5px;'>
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    E-mail
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Zelma Langosh</td>
                                                <td>berta@hotmail.com</td>
                                                <td>
                                                    <span class='label label-important'>Important</span>
                                                </td>
                                                <td>
                                                    <div class='text-right'>
                                                        <a class='btn btn-success btn-xs' href='#'>
                                                            <i class='icon-ok'></i>
                                                        </a>
                                                        <a class='btn btn-danger btn-xs' href='#'>
                                                            <i class='icon-remove'></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Jackson Yundt</td>
                                                <td>seth@yahoo.com</td>
                                                <td>
                                                    <span class='label label-success'>Success</span>
                                                </td>
                                                <td>
                                                    <div class='text-right'>
                                                        <a class='btn btn-success btn-xs' href='#'>
                                                            <i class='icon-ok'></i>
                                                        </a>
                                                        <a class='btn btn-danger btn-xs' href='#'>
                                                            <i class='icon-remove'></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Rey Fadel</td>
                                                <td>macey@yahoo.com</td>
                                                <td>
                                                    <span class='label label-warning'>Warning</span>
                                                </td>
                                                <td>
                                                    <div class='text-right'>
                                                        <a class='btn btn-success btn-xs' href='#'>
                                                            <i class='icon-ok'></i>
                                                        </a>
                                                        <a class='btn btn-danger btn-xs' href='#'>
                                                            <i class='icon-remove'></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Jaquelin Koelpin</td>
                                                <td>celia@hotmail.com</td>
                                                <td>
                                                    <span class='label label-success'>Success</span>
                                                </td>
                                                <td>
                                                    <div class='text-right'>
                                                        <a class='btn btn-success btn-xs' href='#'>
                                                            <i class='icon-ok'></i>
                                                        </a>
                                                        <a class='btn btn-danger btn-xs' href='#'>
                                                            <i class='icon-remove'></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='box'>
                                <div class='box-header'>
                                    <div class='title'>
                                        <i class='icon-dashboard'></i>
                                        工况信息
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <div class='box-content box-statistic text-right'>
                                            <h3 class='title text-error'>9100</h3>
                                            <small>累计工时</small>
                                            <div class='text-error icon-user align-left'></div>
                                        </div>
                                        <div class='box-content box-statistic text-right'>
                                            <h3 class='title text-warning'>41 000</h3>
                                            <small>累计耗油量</small>
                                            <div class='text-warning icon-book align-left'></div>
                                        </div>
                                        <div class='box-content box-statistic text-right'>
                                            <h3 class='title text-primary'>2014/09/16 12:21:12</h3>
                                            <small>最后更新时间</small>
                                            <div class='text-primary icon-time align-left'></div>
                                        </div>
                                    </div>
                                    <div class='col-sm-6'>
                                        <div class='box-content box-statistic red-background'>
                                            <h3 class='title text-primary'>3</h3>
                                            <small>行驶里程</small>
                                            <div class='text-primary icon-truck align-right'></div>
                                        </div>
                                        <div class='box-content box-statistic green-background'>
                                            <h3 class='title text-success'>工作</h3>
                                            <small>工作状态</small>
                                            <div class='text-success icon-flag align-right'></div>
                                        </div>
                                        <div class='box-content box-statistic muted-background'>
                                            <h3 class='title text-muted'>150</h3>
                                            <small>报警统计</small>
                                            <div class='text-muted icon-remove align-right'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12'>
                            <div class='box box-nomargin'>
                                <div class='box-header'>
                                    <div class='title'><i class="icon-book"></i>详细工况信息</div>
                                    <div class='actions'>
                                        <a class="btn box-remove btn-xs btn-link" href="#">
                                            <i class='icon-remove'></i>
                                        </a>

                                        <a class="btn box-collapse btn-xs btn-link" href="#">
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                                <div class='box-content'>
                                    <ul class='list-unstyled list-inline'>
                                        <li ng-repeat="rd in ReceiveDataLasts">
                                            <i ng-class="rd.ShowIcon"></i>
                                            {{rd.DictionaryKey}}：<span style="color:{{rd.ShowColor}}">{{rd.DictionaryValue}}{{rd.ShowUnit}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr class="hr-double">
        <div class="row">
            <div class='col-sm-12 box'>
                <div class='box-header blue-background'>
                    <div class='title'><i class="icon-star-empty"></i>位置信息</div>
                    <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#">
                            <i class='icon-remove'></i>
                        </a>

                        <a class="btn box-collapse btn-xs btn-link" href="#">
                            <i></i>
                        </a>
                    </div>
                </div>
                <div class='box-content'>
                    <div class="box-toolbox box-toolbox-top">
                        <div class="pull-left">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <i class="  icon-map-marker"></i>
                                    当前位置：@Model.GpsPos
                                </li>
                                <li>
                                    <i class=" icon-ellipsis-horizontal"></i>
                                    纬度：@Model.GpsPlat
                                </li>
                                <li>
                                    <i class=" icon-ellipsis-horizontal"></i>
                                    经度：@Model.GpsPlog
                                </li>
                                <li>
                                    <i class="icon-rocket"></i>
                                    速度：@Model.GpsSpeed
                                </li>
                                <li>
                                    <i class="icon-stackexchange"></i>
                                    方向：@Model.GpsDirection
                                </li>
                                <li class="text-success">
                                    <i class="icon-map-marker"></i>
                                    定位状态：@Model.GpsIsPos
                                </li>
                            </ul>

                        </div>
                        <div class="pull-right">
                            <a class="btn btn-white" onclick="javascript:startRuler()">
                                <i class="icon-bold"></i>测距
                            </a>
                            <a class="btn btn-white">
                                <i class="icon-eye-open"></i>
                            </a>
                        </div>
                    </div>
                    <div id="iCenter"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box box-transparent box-nomargin">
                                <div class="box-header">
                                    <div class="title">查询结果</div>
                                    <div class="actions">
                                        <a class="btn box-remove btn-xs btn-link" href="#">
                                            <i class="icon-remove"></i>
                                        </a>

                                        <a class="btn box-collapse btn-xs btn-link" href="#">
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-content" id="result">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/AngularCtrlJs/ProtocolManageJs.js"></script>
    <script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=990f8ec17963b0c7a507f9c74d275568"></script>
    <script language="javascript">
        var mapObj, marker, ruler2;
        $(function () {
            mapInit();
        });

        //初始化地图对象，加载地图
        function mapInit() {
            mapObj = new AMap.Map("iCenter", {
                //二维地图显示视口
                view: new AMap.View2D({
                    // center: new AMap.LngLat(116.397428, 39.90923),//地图中心点
                    zoom: 17 //地图显示的缩放级别
                }),
                continuousZoomEnable: false
            });
            //地图类型切换
            mapObj.plugin(["AMap.MapType"], function () {
                var type = new AMap.MapType({ defaultType: 0 });//初始状态使用2D地图
                mapObj.addControl(type);
            });
            //加载比例尺插件
            mapObj.plugin(["AMap.Scale"], function () {
                scale = new AMap.Scale();
                mapObj.addControl(scale);
            });
            //在地图中添加ToolBar插件
            mapObj.plugin(["AMap.ToolBar"], function () {
                toolBar = new AMap.ToolBar();
                mapObj.addControl(toolBar);
            });
            //在地图中添加鹰眼插件
            mapObj.plugin(["AMap.OverView"], function () {
                //加载鹰眼
                overView = new AMap.OverView({
                    visible: true //初始化隐藏鹰眼
                });
                mapObj.addControl(overView);
            });
            //拉大地图
            var rectOptions = {
                strokeStyle: "dashed",
                strokeColor: "#FF33FF",
                fillColor: "#FF99FF",
                fillOpacity: 0.5,
                strokeOpacity: 1,
                strokeWeight: 2
            };
            //mapObj.plugin(["AMap.MouseTool"], function () {
            //    mouseTool = new AMap.MouseTool(mapObj);
            //    mouseTool.rectZoomIn(rectOptions);     //通过rectOptions更改拉框放大时鼠标绘制的矩形框样式
            //});
            mapObj.plugin(["AMap.RangingTool"], function () {

                var lOptions = {
                    strokeStyle: "solid",
                    strokeColor: "#FF33FF",
                    strokeOpacity: 1,
                    strokeWeight: 2
                };
                var sMarker = {
                    icon: new AMap.Icon({    //复杂图标
                        size: new AMap.Size(28, 37),//图标大小
                        image: "http://webapi.amap.com/images/custom_a_j.png", //大图地址
                        imageOffset: new AMap.Pixel(0, 0)//相对于大图的取图位置
                    })
                };
                var eMarker = {
                    icon: new AMap.Icon({    //复杂图标
                        size: new AMap.Size(28, 37),//图标大小
                        image: "http://webapi.amap.com/images/custom_a_j.png", //大图地址
                        imageOffset: new AMap.Pixel(-28, 0)//相对于大图的取图位置
                    }),
                    offset: new AMap.Pixel(-16, -35)
                };
                var rulerOptions = { startMarkerOptions: sMarker, endMarkerOptions: eMarker, lineOptions: lOptions };
                ruler2 = new AMap.RangingTool(mapObj, rulerOptions);
            });
            //自动加点
            geocoder();
        }
        //添加点标记
        function addMarker(LngLatX,LngLatY) {
            //var LngLatX = "116.405467"; //获取Lng值
            //var LngLatY = "39.907761"; //获取Lat值
            marker = new AMap.Marker({
                // icon: "http://webapi.amap.com/images/marker_sprite.png",
                position: new AMap.LngLat(LngLatX, LngLatY)
            });

            marker.setMap(mapObj);  //在地图上添加点
            marker.setAnimation('AMAP_ANIMATION_BOUNCE'); //设置点标记的动画效果，此处为弹跳效果
            mapObj.setFitView(); //调整到合理视野
        }
        function startRuler() {
            ruler2.turnOn();
        }

        //已知点坐标
        var lnglatXY = new AMap.LngLat(@Model.GpsPlat,@Model.GpsPlog);
        function geocoder() {
            var MGeocoder;
            //加载地理编码插件
            mapObj.plugin(["AMap.Geocoder"], function() {
                MGeocoder = new AMap.Geocoder({
                    radius: 1000,
                    extensions: "all"
                });
                //返回地理编码结果
                AMap.event.addListener(MGeocoder, "complete", geocoder_CallBack);
                //逆地理编码
                MGeocoder.getAddress(lnglatXY);
            });
            //加点
            var marker = new AMap.Marker({
                map:mapObj,
                icon: new AMap.Icon({
                    image: "../../Content/ICON/start.png",
                    size:new AMap.Size(51,51),
                    imageOffset: new AMap.Pixel(-0, -0)
                }),
                position: lnglatXY,
                offset: new AMap.Pixel(-5,-30)
            });
            mapObj.setFitView();
        }
        //鼠标划过显示相应点
        var marker;
        function onMouseOver (e) {
            var coor = e.split(','),
                lnglat = new AMap.LngLat(coor[0], coor[1]);
            if (!marker) {
                marker = new AMap.Marker({
                    map:mapObj,
                    icon: "http://webapi.amap.com/images/0.png",
                    position: lnglat,
                    offset: new AMap.Pixel(-10, -34)
                });
            } else {
                marker.setPosition(lnglat);
            }
            mapObj.setFitView();
        }
        //回调函数
        function geocoder_CallBack(data) {
            var resultStr = "";
            var roadinfo ="";
            var poiinfo="";
            var address;
            //返回地址描述
            address = data.regeocode.formattedAddress;
            //返回周边道路信息
            roadinfo +="<table class='table table-bordered table-hover table-condensed'>";
            for(var i=0;i<data.regeocode.roads.length;i++){

                roadinfo += "<tr><td>道路：" + data.regeocode.roads[i].name + "</td><td>方向：" + data.regeocode.roads[i].direction + "</td><td>距离：" + data.regeocode.roads[i].distance + "米</td></tr>";
            }
            roadinfo +="</table>"
            //返回周边兴趣点信息
            poiinfo += "<table  class='table table-bordered table-hover table-condensed'>";
            for(var j=0;j<data.regeocode.pois.length;j++){

                poiinfo += "<tr onmouseover='onMouseOver(\"" + data.regeocode.pois[j].location.toString() + "\")'><td>兴趣点：" + data.regeocode.pois[j].name + "</td><td>类型：" + data.regeocode.pois[j].type + "</td><td>距离：" + data.regeocode.pois[j].distance + "米</td></tr>";
            }
            poiinfo += "</table>";
            //返回结果拼接输出
            resultStr = "<span class='text-info'>地址："+ address + "</span></br/><span class='text-info'>周边道路信息</span>" + roadinfo + "<span class='text-info'>周边兴趣点信息</span>" + poiinfo +"";
            document.getElementById("result").innerHTML = resultStr;
        }
    </script>

}