@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_LayoutFlattyMain.cshtml";
}
@section styles{
    <link href="~/Content/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="~/Content/assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/stylesheets/plugins/csspinner/csspinner.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/artDialog/css/ui-dialog.css" rel="stylesheet" />
    <style type="text/css">
        #iCenter {
            border: 1px solid #f6f6f6;
            height: 400px;
            width: 100%;
        }
    </style>
}
<div class='row' id='content-wrapper'>
    <div class='col-xs-12'>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='page-header'>
                    <h1 class='pull-left'>
                        <i class='icon-user'></i>
                        <span>终端详细信息</span>
                    </h1>
                    <div class='pull-right'>
                        <ul class='breadcrumb'>
                            <li>
                                <a href='index.html'>
                                    <i class='icon-bar-chart'></i>
                                </a>
                            </li>
                            <li class='separator'>
                                <i class='icon-angle-right'></i>
                            </li>
                            <li>Example pages</li>
                            <li class='separator'>
                                <i class='icon-angle-right'></i>
                            </li>
                            <li class='active'>User profile</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 box'>
                <div class='box-header blue-background'>
                    <div class='title'><i class="icon-star-empty"></i>位置信息</div>
                    <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#">
                            <i class='icon-remove'></i>
                        </a>

                        <a class="btn box-collapse btn-xs btn-link" href="#">
                            <i></i>
                        </a>
                    </div>
                </div>
                <div class='box-content'>
                    <div class="box-toolbox box-toolbox-top">
                        <div class="pull-left">
                            <ul class="list-unstyled list-inline" style="margin-top:10px;">
                                <li>
                                    <i class=" icon-time  "></i>
                                    时间范围：
                                </li>
                                <li>
                                    <div class='btn-group'>
                                        <a class="btn btn-white" id="daterange" href="#">
                                            <i class='icon-calendar'></i>
                                            <span>选择时间</span>
                                            <b class='caret'></b>
                                        </a>

                                    </div>
                                </li>
                                <li>
                                    <a class="btn btn-white" onclick="loadAjax()">
                                        <i class="icon-download-alt "></i>加载数据
                                    </a>
                                </li>
                                <li>

                                </li>

                            </ul>

                        </div>
                        <div class="pull-right">
                            <ul class="list-unstyled list-inline" style="margin-top:10px;">
                                <li>
                                    <i class=" icon-fighter-jet "></i>
                                    当前播放速度：
                                </li>
                                <li>
                                    <div id='slider-example1' style='width:160px;'></div>
                                </li>
                                <li>
                                    <small id='slider-example1-amount'></small>
                                </li>
                                <li>
                                    <a class="btn btn-white">
                                        <i class="icon-play-circle " onclick="startAnimation()"></i>
                                    </a>
                                    <a class="btn btn-white">
                                        <i class="icon-play " onclick="continueAnimation()"></i>
                                    </a>
                                    <a class="btn btn-white">
                                        <i class="icon-pause  " onclick="pauseAnimation()"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <div id="iCenter"></div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/javascripts/plugins/common/moment.min.js"></script>
    <script src="~/Content/assets/javascripts/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.js"></script>
    <script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=990f8ec17963b0c7a507f9c74d275568"></script>
    <script src="~/Scripts/plugins/artDialog/dist/dialog-plus.js"></script>
    <script language="javascript">
        var mapObj, marker,markerCurrent, markerMovingControl, polyline;
        var lngX = 116.373881;
        var latY = 39.907409;

        var rangeTime = "";
        var Num = 1;
        var Size = 5000;
        $(document).ready(function () {
            $("#daterange").daterangepicker({
                timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm ',
                ranges: {
                    "昨天": [moment().subtract("days", 1), moment().subtract("days", 1)],
                    '今天': [moment(), moment()],
                    '最近7天': [moment().subtract('days', 6), moment()],
                    "最近30天": [moment().subtract("days", 29), moment()],
                    "本月": [moment().startOf("month"), moment().endOf("month")]
                },
                startDate: moment().subtract("days", 29),
                endDate: moment(),
                opens: "left",
                cancelClass: "btn-danger",
                buttonClasses: ['btn', 'btn-sm']
            }, function (start, end) {
                rangeTime = start.format("YYYY-MM-DD h:mm") + " $ " + end.format("YYYY-MM-DD h:mm");
                return $("#daterange span").html(start.format("YYYY/MM/DD h:mm") + " - " + end.format("YYYY/MM/DD h:mm"));
            });
            mapInit();
            $("#slider-example1").slider({
                value: 100,
                min: 0,
                max: 8000,
                step: 10,
                slide: function (event, ui) {
                    markerMovingControl.setSpeed(ui.value);
                    return $("#slider-example1-amount").text(ui.value + "千米/小时");
                }
            });

            $("#slider-example1-amount").text($("#slider-example1").slider("value") + "千米/小时");
        });
        //初始化地图对象，加载地图
        function mapInit() {
            mapObj = new AMap.Map("iCenter", {
                //二维地图显示视口
                //view: new AMap.View2D({
                //    center: new AMap.LngLat(lngX, latY)//,//地图中心点
                //    // zoom: 8 //地图显示的缩放级别
                //}),
                //continuousZoomEnable: false
            });
            marker = new AMap.Marker({
                map: mapObj,
                //draggable:true, //是否可拖动
                position: new AMap.LngLat(116.397428, 39.90923),//基点位置
                icon: "http://code.mapabc.com/images/car_03.png", //marker图标，直接传递地址url
                offset: new AMap.Pixel(-26, -13), //相对于基点的位置
                //是否自动旋转。点标记在使用moveAlong动画时，路径方向若有变化，点标记是否自动调整角度，默认为false
                autoRotation: true
            });
            //  AMap.event.addListener(mapObj, "complete", completeEventHandler);
        }
        /**     第一部分，动画暂停、继续的实现     */

        /**
       * Marker移动控件
       * param {Map} map    地图对象
       * param {Marker} marker Marker对象
       * param {Array} path   移动的路径，以坐标数组表示
       */
        var MarkerMovingControl = function (map, marker, path) {
            this._map = map;
            this._marker = marker;
            this._path = path;
            this._currentIndex = 0;
            this._speed = 100;
            //为Marker指定目标显示地图。当参数值取null时，地图上移除当前Marker：setMap(null)
            marker.setMap(map);
            marker.setPosition(path[0]);
        }

        /**
         * 移动marker，会从当前位置开始向前移动
         */
        MarkerMovingControl.prototype.move = function () {
            if (!this._listenToStepend) {
                this._listenToStepend = AMap.event.addListener(this, 'stepend', function () {
                    this.step();
                }, this);
            }
            this.step();
        };

        /**
         * 停止移动marker，由于控件会记录当前位置，所以相当于暂停
         */
        MarkerMovingControl.prototype.stop = function () {
            this._marker.stopMove();
        };

        /**
         * 重新开始，会把marker移动到路径的起点然后开始移动
         */
        MarkerMovingControl.prototype.restart = function () {
            this.stop();
            this._marker.setPosition(this._path[0]);
            this._currentIndex = 0;
            this.move();
        };

        /**
         * 向前移动一步
         */
        MarkerMovingControl.prototype.step = function () {
            var nextIndex = this._currentIndex + 1;
            if (nextIndex < this._path.length) {
                if (!this._listenToMoveend) {
                    //点标记执行moveTo动画结束时触发事件
                    this._listenToMoveend = AMap.event.addListener(this._marker, 'moveend', function () {
                        this._currentIndex++;
                        //触发指定事件。
                        AMap.event.trigger(this, 'stepend');
                    }, this);
                }
                // console.log(nextIndex);
              
                //addMarker(this._path[nextIndex]);
                this._marker.moveTo(this._path[nextIndex], this._speed);
                mapObj.setZoomAndCenter(14, this._path[nextIndex]);

            } else {
                if (this._path.length < Size) {
                    var d = dialog({
                        title: '提示',
                        content: '轨迹全部播放完毕'
                    });
                    d.show();

                } else {
                    var d = dialog({
                        title: '提示',
                        content: '此次播放轨迹为前5000条！'
                    });
                    d.show();
                    //加载下一页数据
                    // Num = Num + 1;
                    //  loadAjax();
                    //  markerMovingControl.restart();
                }
            }
        };


        MarkerMovingControl.prototype.setSpeed = function (value) {
            this._speed = value;
        };
        /**     第二部分，应用示例     */

        // 编写事件响应函数
        function startAnimation() {
            markerMovingControl.restart();
        }

        function pauseAnimation() {
            markerMovingControl.stop();
        }

        function continueAnimation() {
            markerMovingControl.move();
        }
        function addMarker(ALngLat) {
            markerCurrent = new AMap.Marker({
                icon: "http://webapi.amap.com/images/marker_sprite.png",
                position: ALngLat
            });
            markerCurrent.setMap(mapObj);  //在地图上添加点
        }
        function loadAjax() {
            var lineArr = [];
            var devid = "C2340008";
            //加载过程中地图添加csspinner
            $("#iCenter").addClass("csspinner ringed");
            $.get("/api/ApiReceiveData/GetReceiveDataMap",
                { devId: devid, dateRange: rangeTime, pageNum: Num, pageSize: Size }, function (result) {
                    $.each(result.rows, function (index, element) {
                        lineArr.push(new AMap.LngLat(element["GpsPlog"], element["GpsPlat"]));
                    });
                    //加载完毕移除
                    $("#iCenter").removeClass("csspinner ringed");
                    polyline = new AMap.Polyline({
                        map: mapObj,
                        path: lineArr,
                        strokeColor: "#F00", //线颜色
                        strokeOpacity: 0.4, //线透明度
                        strokeWeight: 3, //线宽
                        strokeStyle: "dashed", //线样式
                        strokeDasharray: [10, 5] //补充线样式
                    });
                    //根据地图上添加的覆盖物分布情况，缩放平移地图到合适的视野级别，参数overlayList默认为当前地图上添加的所有覆盖物图层
                    mapObj.setFitView();
                    markerMovingControl = new MarkerMovingControl(mapObj, marker, lineArr);


                });

        }

    </script>
}

