<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">无线智能定位系统</h1>
    <div class="hero">

        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header" style="line-height:24px;text-indent: 2em;">帮助公司及时获取客户的地理位置及车辆运行等信息，提升业务管理能力；有效进行租赁的风险防范，风险防范效!</h4>
            <div class="login-app-icons">
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">联系方式</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">了解更多</a>
            </div>
        </div>

        <img src="~/content/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">我们承诺</h5>
            <p>
                根据客户实际应用的业务进行需求调研，按照使用功能进行定制开发，持续完善系统功能，快速满足应用需求。
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">优惠活动</h5>
            <p>
                购买服务赠送设备、长期合作系统共建、优势互补数据共享、持续升级以旧换新！
            </p>
        </div>
    </div>

</div>