@{
    ViewBag.Title = "终端设备监控";
    Layout = "~/Views/Shared/_LayoutFlattyMain.cshtml";
}

@section styles{

    <link href="~/Content/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/jqGrid.overrides.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/select2-3.5.1/select2.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/select2-3.5.1/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/artDialog/css/ui-dialog.css" rel="stylesheet" />
}
<div class='row' id='content-wrapper'>
    <div class='col-xs-12'>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='page-header'>
                    <h1 class='pull-left'>
                        <i class='icon-facetime-video '></i>
                        <span>终端设备监控</span>
                    </h1>
                    <div class='pull-right'>
                        <ul class='breadcrumb'>
                            <li>
                                <a href='index.html'>
                                    <i class='icon-bar-chart'></i>
                                </a>
                            </li>
                            <li class='separator'>
                                <i class='icon-angle-right'></i>
                            </li>
                            <li>Example pages</li>
                            <li class='separator'>
                                <i class='icon-angle-right'></i>
                            </li>
                            <li class='active'>User profile</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 box">
                <ul class="nav nav-tabs nav-tabs-simple">
                    <li class="active">
                        <a href="@Url.Action("Index", "Terminal",null)" class="green-border">
                            <i class="icon-list  text-red "></i>
                            终端设备列表
                        </a>
                    </li>
                    <li id="equipmentDetail">
                        <a href="#">
                            <i class="icon-indent-left"></i>
                            设备工况一览
                        </a>
                    </li>
                    <li id="equipmentMap">
                        <a href="#" class="green-border">
                            <i class="icon-map-marker "></i>
                            行驶轨迹
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div style="margin-bottom: 0" class="col-sm-12 box">
                <div class="box-header blue-background">
                    <div class="title"><i class=" icon-list "></i>  设备列表</div>
                    <div class="actions">
                        <a href="#" class="btn box-remove btn-xs btn-link">
                            <i class="icon-remove"></i>
                        </a>

                        <a href="#" class="btn box-collapse btn-xs btn-link">
                            <i></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <table id="grps"></table> <div id="pgrps"></div>

                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/i18n/grid.locale-cn.js"></script>
    <script src="~/Scripts/plugins/select2-3.5.1/select2.js"></script>
    <script src="~/Scripts/plugins/select2-3.5.1/select2_locale_zh-CN.js"></script>
    <script src="~/Scripts/plugins/artDialog/dist/dialog-plus.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //点击事件
            $("#equipmentDetail").click(function () {
                var rowId = $("#grps").jqGrid("getGridParam", "selrow");
                if (rowId == null) {
                    var d = dialog({
                        title: '提示',
                        content: '请选择设备！'
                    });
                    d.show();
                    return;
                } else {
                    var rowData = $("#grps").jqGrid("getRowData", rowId);
                    window.location.href = "../../Terminal/Detail/" + rowData.TerminalEquipmentNum;
                }
            });
            $("#equipmentMap").click(function () {
                var rowId = $("#grps").jqGrid("getGridParam", "selrow");
                if (rowId == null) {
                    var d = dialog({
                        title: '提示',
                        content: '请选择设备！'
                    });
                    d.show();
                    return;
                } else {
                    var rowData = $("#grps").jqGrid("getRowData", rowId);
                    window.location.href = "../../Terminal/Map/" + rowData.TerminalEquipmentNum;
                }
            });
            jQuery("#grps").jqGrid(
                {
                    url: '@Url.Action("GetTerminalEquipmentDetail", "Terminal")',
                    datatype: "json",
                    mtype: "get",
                    colNames:
                        ['Id','终端编号', '终端类型', '工作状态', '小时表', '信息最后更新时间', '位置'],
                    colModel: [
                        { name: 'TerminalEquipmentId', key: true, index: 'TerminalEquipmentId', editable: false, editoptions: { readonly: true }, width: 55, hidden: true },                        
                        { name: 'TerminalEquipmentNum', index: 'TerminalEquipmentNum', editable: false, width: 90, formatter: LinkFmatter, unformat: imageUnFormat },
                        { name: 'TerminalEquipmentType', index: 'EquipmentName', editable: false, width: 100, edittype: "select", formatter: "select", editoptions: { value: "1:GPS; 2:摄像头; 3:显示器" }, align: "center" },
                        { name: 'AccStatus', index: 'AccStatus', editable: false, width: 60 },
                        { name: 'TotalWorkTime', index: 'TotalWorkTime', editable: false, width: 60 },
                        { name: 'ReceiveTime', index: 'ReceiveTime', editable: false, align: "left", width: 140, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                        { name: 'GpsPos', index: 'GpsPos', editable: false, align: "left" }

                    ],
                    //   multiselect: true,
                    //  rownumbers: true,//添加左侧行号
                    altRows: true,//设置为交替行表格,默认为false
                    rowNum: 10,
                    width: 700,
                    rowList: [10, 20, 30],
                    pager: '#pgrps',
                    sortname: 'TerminalEquipmentUpdateTime',
                    viewrecords: true,//定义是否要显示总记录数
                    sortorder: "desc",
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    // caption: "终端信息表",
                   // shrinkToFit: false,
                  //  width: 'auto',
                    height: '100%',
                    editurl: '/api/ApiTerminalEquipment' // this is dummy existing url
                });
            jQuery("#grps").jqGrid('navGrid', '#pgrps',
                { edit: false, add: false, del: false },
                {
                    editCaption: "编辑",
                    top: "5",
                    left: "5",
                    jqModal: false,
                    reloadAfterSubmit: true,
                    afterShowForm: function (form) {
                        $("#PmFInterpreterId").select2();

                    }
                },
                {
                    editCaption: "添加",
                    top: "5",
                    left: "5",
                    jqModal: false,
                    reloadAfterSubmit: true,
                    afterShowForm: function (form) {
                        $("#PmFInterpreterId").select2();

                    }
                },
                {},
                { multipleSearch: true, multipleGroup: true });
            //test responsiveness
            $(window).on('resize', function (event, ui) {
                // Get width of parent container
                var parWidth = $("#gbox_grps").parent().width();
                var curWidth = $("#gbox_grps").width();
                //console.log("span width " + parWidth + " gridWidth " + gWidth);
                var w = parWidth - 1; // Fudge factor to prevent horizontal scrollbars
                if (Math.abs(w - curWidth) > 2) {
                    //alert("resize to " + width);
                    console.log("span width " + parWidth + " gridWidth " + curWidth);
                    $("#grps").setGridWidth(w);
                    console.log("new width " + w);
                }

            }).trigger('resize');
            //自定义的格式化方法
            //cellvalue - 当前cell的值
            //options - 该cell的options设置，包括{rowId, colModel,pos,gid}
            //rowObject - 当前cell所在row的值，如{ id=1, name="name1", price=123.1, ...}
            function IconyFmatter(cellvalue, options, rowObject) {
                var rec = "";
                switch (cellvalue) {
                    case "1":
                        rec = '<img src="../../Content/ICON/car.png" alt="" />';
                        break;
                    case "2":
                        rec = '<img src="../..//Content/ICON/car1.png" alt="" />';
                        break;
                    case "3":
                        rec = '<img src="../../Content/ICON/car1.png" alt="" />';
                        break;
                    default:
                        rec = '<img src="../../Content/ICON/car1.png" alt="" />';
                        break;

                }
                return rec;
            }
            function LinkFmatter(cellvalue, options, rowObject) {
                var rec = '<a href="../../Terminal/Detail/' + cellvalue + '" id="' + cellvalue + '">' + cellvalue + '</a>';

                return rec;
            }
            function imageUnFormat(cellvalue, options, cell) {
                return $('a', cell).attr('id');
            }         
        });

    </script>
}