@using Microsoft.AspNet.Identity
@model IEnumerable<SocialGoal.Model.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!--
       The ID "widget-grid" will start to initialize all widgets below
       You do not need to use widgets if you dont want to. Simply remove
       the <section></section> and you can use wells or panels instead
       -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>用户管理 </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">                                

                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="jqgrid"></table>
                                <div id="pjqgrid"></div>
                            </div>
                            <div class="widget-footer">                             

                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>

        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var d;
            jQuery("#jqgrid").jqGrid(
                {
                    url: '@Url.Action("Get", "UsersAdmin")',
                    datatype: "json",
                    mtype: "get",
                    colNames:
                        ['Id', '所属企业', '用户名', '邮箱地址', '角色', '注册时间'],
                    colModel: [
                        { name: 'Id', key: true, index: 'Id', hidden: true },
                        { name: 'OrgEnterpriseId', index: 'OrgEnterpriseId', stype: "select", searchoptions: { dataUrl: '/OrgEnterprise/GetAll' } },
                        { name: 'UserName', index: 'TerminalSimCardNum', editable: true, editrules: { required: true } },
                        { name: 'Email', index: 'Email' },
                        { name: 'Roles', index: 'Roles' },
                        { name: 'DateCreated', index: 'DateCreated', editable: true, editoptions: { readonly: true, defaultValue: CurentTime() }, align: "left", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }
                    ],
                    //   multiselect: true,
                    //  rownumbers: true,//添加左侧行号
                    //  altRows: true,//设置为交替行表格,默认为false
                    rowNum: 10,
                    height: 'auto',
                    autowidth: true,
                    rowList: [10, 20, 30],
                    pager: '#pjqgrid',
                    sortname: 'DateCreated',
                    viewrecords: true,//定义是否要显示总记录数
                    toolbarfilter: true,
                    sortorder: "desc",
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    postData: { userId: '@User.Identity.GetUserId()' },
                    editurl: '@Url.Action("Post", "UsersAdmin")', // this is dummy existing url
                   // caption: "用户管理",
                    //multiselect: true,
                  
                    //gridComplete: function () {
                    //    var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
                    //    for (var i = 0; i < ids.length; i++) {
                    //        var cl = ids[i];
                    //        be = "<a class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></a>";
                    //        se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
                    //        ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                    //        //ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";
                    //        //jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
                    //        jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
                    //            act: be + se + ca
                    //        });
                    //    }
                    //},
                });
            jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                addfunc: add,
                editfunc: edit,
                delfunc: del,
                alerttext: "请选择需要操作的数据行!"
            },
                {},
                {},
                {},
                { multipleSearch: true, multipleGroup: true }
          );         
            jqgridStyle();
        });
        var add = function () {
            window.location.href = "/UsersAdmin/Create";

        };
        var edit = function (rowid) {
            window.location.href = "/UsersAdmin/Edit/" + rowid;
        };
        var del = function (rowid) {
            d = dialog({
                title: '提示信息',
                content: '确认删除当前用户吗？',
                okValue: '确定',
                ok: function () {
                    this.title('提交中…');
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: "/UsersAdmin/Delete/" + rowid,
                        //  data: { username: $("#username").val(), content: $("#content").val() },
                        dataType: "json",
                        success: function (data) {
                            that.close().remove();
                            $("#jqgrid").trigger("reloadGrid");
                        }
                    });
                    return false;
                },
                cancelValue: '取消',
                cancel: function () { }
            });
            d.show();
        };
        $(window).on('resize.jqGrid', function () {
            jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
        })


    </script>
}

