@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFlattyMain.cshtml";
}
@section styles{

    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
}
<h2>Index</h2>
<table id="grps"></table> <div id="pgrps"></div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery("#grps").jqGrid(
                {
                    url: '/Equipment/Get',
                    datatype: "json",
                    colNames:
                        ['EquipmentId', 'EquipmentNum', 'EquipmentName', 'EquipmentCreatTime', 'EquipmentUpDateTime'],
                    colModel: [
                        { name: 'EquipmentId', key: true, index: 'EquipmentId', editable: true, editoptions: { readonly: true }, width: 55 },
                        { name: 'EquipmentNum', index: 'EquipmentNum', editable: true, width: 90 },
                        { name: 'EquipmentName', index: 'EquipmentName', editable: true, width: 100 },
                        { name: 'EquipmentCreatTime', index: 'EquipmentCreatTime', sorttype: 'date', editable: true, editrules: { date: true }, formatter: 'date', datefmt: 'Y-m-d', width: 80, align: "right" },
                        { name: 'EquipmentUpDateTime', index: 'EquipmentUpDateTime', sorttype: 'date', editable: true, editrules: { date: true }, formatter: 'date', datefmt: 'Y-m-d', width: 80, align: "right" }
                        ],
                    rowNum: 10,
                    width: 700,
                    rowList: [10, 20, 30],
                    pager: '#pgrps',
                    sortname: 'EquipmentNum',
                    viewrecords: true,
                    sortorder: "desc",
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    caption: "Complex search",
                    height: '100%',
                    editurl: 'server.php' // this is dummy existing url
                });
            jQuery("#grps").jqGrid('navGrid', '#pgrps',
                { edit: true, add: true, del: true },
                {},
                {},
                {},
                { multipleSearch: true, multipleGroup: true });
        });

    </script>
}