@{
    ViewBag.Title = "组织机构管理";
    Layout = "~/Views/Shared/_LayoutFlattyMain.cshtml";
}
@section styles{

    <link href="~/Content/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/jqGrid.overrides.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/artDialog/css/ui-dialog.css" rel="stylesheet" />
}
<div class='row' id='content-wrapper'>
    <div class='col-xs-12'>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='page-header'>
                    <h1 class='pull-left'>
                        <i class='icon-user'></i>
                        <span>组织机构管理</span>
                    </h1>
                    <div class='pull-right'>
                        <ul class='breadcrumb'>
                            <li>
                                <a href='index.html'>
                                    <i class='icon-bar-chart'></i>
                                </a>
                            </li>
                            <li class='separator'>
                                <i class='icon-angle-right'></i>
                            </li>
                            <li>Example pages</li>
                            <li class='separator'>
                                <i class='icon-angle-right'></i>
                            </li>
                            <li class='active'>User profile</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-bottom:0;" class="box bordered-box blue-border">
                    <div class="box-header blue-background">
                        <div class="title">Responsive table</div>
                        <div class="actions">
                            <a href="#" class="btn box-remove btn-xs btn-link">
                                <i class="icon-remove"></i>
                            </a>

                            <a href="#" class="btn box-collapse btn-xs btn-link">
                                <i></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="box-toolbox box-toolbox-top">
                            <div class="pull-left">
                                <a class="btn btn-white" id="Create">
                                    <i class="icon-bold"></i> 添加
                                </a>
                                <a class="btn btn-white">
                                    <i class="icon-italic"></i>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-white">
                                    <i class="icon-eye-open"></i> 修改
                                </a>
                            </div>
                        </div>
                        <table id="grps"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/plugins/artDialog/dist/dialog-plus.js"></script>
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            jQuery("#grps").jqGrid(
                {
                    url: localApi+'/api/ApiOrgStructure',
                    datatype: "json",
                    mtype: "get",
                    colNames:
                        ['Id', 'Pid', '企业ID', '组织编号', '组织名称', '描述', '更新时间', '创建时间'],
                    colModel: [
                        { name: 'OrgStructureId', key: true, index: 'EquipmentId', editable: true, editoptions: { readonly: true }, width: 55, hidden: true },
                        { name: 'OrgStructurePId', index: 'EquipmentNum', editable: true, width: 90, hidden: true },
                        { name: 'OrgEnterpriseId', index: 'EquipmentName', editable: true, width: 100, hidden: true },
                        { name: 'OrgStructureNum', index: 'EquipmentNum', editable: true, width: 90 },
                        { name: 'OrgStructureName', index: 'EquipmentName', editable: true, width: 100 },
                         { name: 'OrgStructureDescribe', index: 'EquipmentName', editable: true, width: 100 },
                        { name: 'OrgStructureUpdateTime', index: 'EquipmentCreatTime', sorttype: 'date', editable: false, editrules: { date: true }, formatter: 'date', datefmt: 'Y-m-d', width: 80, align: "right" },
                        { name: 'OrgStructureCreateTime', index: 'EquipmentUpDateTime', sorttype: 'date', editable: true, editoptions: { readonly: true }, editrules: { date: true }, formatter: 'date', datefmt: 'Y-m-d', width: 80, align: "right" }
                    ],
                    treeGrid: true,
                    treeGridModel: "adjacency",
                    ExpandColumn: "OrgStructureNum",
                    rowNum: 1000,
                    width: 700,
                    // rowList: [10, 20, 30],
                    // pager: '#pgrps',
                    sortname: 'OrgStructureUpdateTime',
                    // viewrecords: true,//定义是否要显示总记录数
                    sortorder: "desc",
                    treeIcons: { leaf: 'ui-icon-document-b' },
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    //caption: "组织机构表",
                    height: '100%',
                    //   editurl: '/api/ApiOrgEnterprise' // this is dummy existing url
                });

            //test responsiveness
            $(window).on('resize', function (event, ui) {
                // Get width of parent container
                var parWidth = $("#gbox_grps").parent().width();
                var curWidth = $("#gbox_grps").width();
                //console.log("span width " + parWidth + " gridWidth " + gWidth);
                var w = parWidth - 1; // Fudge factor to prevent horizontal scrollbars
                if (Math.abs(w - curWidth) > 2) {
                    //alert("resize to " + width);
                    console.log("span width " + parWidth + " gridWidth " + curWidth);
                    $("#grps").setGridWidth(w);
                    console.log("new width " + w);
                }

            }).trigger('resize');
            $("#Create").click(function () {
                var pid = "123";
                var top = dialog({
                    id: 'OrgStructure-Create',
                    title: '添加组织机构信息',
                    width: 450,
                    fixed: true,
                    data:123,
                    url: '@Url.Action("Create", "OrgStructure", new { id = "123" })',
                    //quickClose: true,
                    onshow: function () {
                        console.log('onshow');
                    },
                    oniframeload: function () {
                        console.log('oniframeload');
                    },
                    onclose: function () {
                        if (this.returnValue) {
                            $('#value').html(this.returnValue);
                        }
                        console.log('onclose');
                    },
                    onremove: function () {
                        console.log('onremove');
                    }
                });
                top.show();
            });
        });
    </script>
}

