    <!-- HEADER -->
<header id="header">
    <div id="logo-group">
        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="~/content/img/logo.png" alt="智能定位系统"> </span>
        <!-- END LOGO PLACEHOLDER -->
        @if (Request.IsAuthenticated)
        {
            <!-- Note: The activity badge color changes when clicked and resets the number to 0
            Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
            <span style="display:none" id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
            <!--报警提醒信息-->
            <div class="ajax-dropdown" style="display:none">
                <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications"  id="~/content/ajax/notify/mail.html"-->
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="~/Home/about">
                        无通讯预警(14)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="~/Home/about">
                        越界预警(3)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="~/Home/about">
                        系统通知(4)
                    </label>
                </div>
                <!-- notification content -->
                <div class="ajax-notifications custom-scroll">
                    <div class="alert alert-transparent">
                        <h4>  报警提醒功能，开发中...</h4>
                    </div>
                    <i class="fa fa-lock fa-4x fa-border"></i>
                </div>
                <!-- end notification content -->
                <!-- footer: refresh area -->
                <span>
                    信息更新时间:@DateTime.Now.ToShortDateString()
                    <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i>加载..." class="btn btn-xs btn-default pull-right">
                    <i class="fa fa-refresh"></i>
                </button>
                </span>
                <!-- end footer -->
            </div>
            <!-- END AJAX-DROPDOWN -->
        }
    </div>
    @if (Request.IsAuthenticated)
    {
    <!-- projects dropdown -->
        <div class="project-context hidden-xs" style="display:none">
            <span class="label">提醒:</span>
            <span class="project-selector dropdown-toggle" data-toggle="dropdown">更新记录 <i class="fa fa-angle-down"></i></span>
            <!-- Suggestion: populate this list with fetch and push technique -->
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);">开通微信查车功能(2015-1-21)</a>
                </li>
                <li>
                    <a href="javascript:void(0);">新增短信报警(2015-01-03)</a>
                </li>
                <li>
                    <a href="javascript:void(0);">失联设备统计报表(2014-10-15)</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-power-off"></i> 关闭</a>
                </li>
            </ul>
            <!-- end dropdown-menu-->
        </div>
    <!-- end projects dropdown -->
    }
    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->