<ul class="nav navbar-nav">
    <li>
        <a href="@Url.Action("Index", "Terminal",null)" class="green-border">
            <i class="icon-list  "></i>
            设备列表
        </a>
    </li>
    <li id="equipmentDetail">
        <a href="@Url.Action("Detail", "Terminal", new { id = ViewBag.DevId })">
            <i class="icon-indent-left"></i>
            设备工况一览
        </a>
    </li>
    <li class="active" id="equipmentMap">
        <a href="@Url.Action("Map", "Terminal", new { id = ViewBag.DevId })" class="green-border">
            <i class="icon-map-marker  text-red"></i>
            行驶轨迹
        </a>
    </li>
    <li id="equipmentDetail">
        <a href="@Url.Action("History", "Terminal", new { id = ViewBag.DevId })">
            <i class="icon-indent-left"></i>
            历史数据
        </a>
    </li>
</ul>
