
<div class='row'>
    <div class='col-sm-12'>
        <div class='page-header'>
            <h1 class='pull-left'>
                <i class='icon-rocket  '></i>
                <span>终端管理</span>
            </h1>
            <div class='pull-right'>
                <ul class='breadcrumb'>
                    <li>
                        <a href='index.html'>
                            <i class='icon-bar-chart'></i>
                        </a>
                    </li>
                    <li class='separator'>
                        <i class='icon-angle-right'></i>
                    </li>
                    <li>Example pages</li>
                    <li class='separator'>
                        <i class='icon-angle-right'></i>
                    </li>
                    <li class='active'>User profile</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-simple">
                <li>
                    <a href="@Url.Action("Index", "TerminalSimCard")" class="green-border">
                        <i class="icon-indent-left"></i>
                        SIM卡管理
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "TerminalEquipment")" class="green-border">
                        <i class="icon-edit text-red"></i>
                        终端设备管理
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>