@model SocialGoal.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12">
                <div class="alert alert-success fade in">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>
                    <i class="fa-fw fa fa-check"></i>
                    <strong>密码修改成功！！</strong>为保证系统安全，切记您的新密码！
                </div>
            </article>
        </div>
    </section>
</div>