<div id="content">
    <!--
     The ID "widget-grid" will start to initialize all widgets below
     You do not need to use widgets if you dont want to. Simply remove
     the <section></section> and you can use wells or panels instead
     -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget  jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>SIM卡管理</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body  no-padding">
                            <div class="table-responsive">
                                <table id="jqgrid"></table>
                                <div id="pjqgrid"></div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>

        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
@section scripts{

    @*<script src="~/Scripts/jquery.jqGrid-4.6.0/js/jquery.jqGrid.src.js"></script>
        <script src="~/Scripts/jquery.jqGrid-4.6.0/js/i18n/grid.locale-cn.js"></script>
        <script src="~/Scripts/plugins/select2-3.5.1/select2.js"></script>
        <script src="~/Scripts/plugins/select2-3.5.1/select2_locale_zh-CN.js"></script>*@
    <script src="~/Scripts/plugins/artDialog/dist/dialog-plus.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery("#jqgrid").jqGrid(
                {
                    url: '@Url.Action("Get", "TerminalSimCard")',
                    datatype: "json",
                    mtype: "get",
                    colNames:
                        ['Id', 'SIM卡号', '序列号', '当前状态', '更新时间', '创建时间'],
                    colModel: [
                        { name: 'TerminalSimCardId', key: true, index: 'TerminalSimCardId', editable: true, width: 55, hidden: true },
                        { name: 'TerminalSimCardNum', index: 'TerminalSimCardNum', editable: true, width: 60, editrules: { required: true } },
                        { name: 'TerminalSimCardSerialNum', index: 'TerminalSimCardSerialNum', editable: true, width: 120 },
                        { name: 'TerminalSimCardState', index: 'TerminalSimCardState', editable: true, width: 90, edittype: "select", formatter: "select", editoptions: { value: "1:未使用; 2:已使用; 3:被更换; 4:原设备已删除" }, align: "left" },
                        { name: 'TerminalSimCardUpdateTime', index: 'TerminalSimCardUpdateTime', editable: true, editoptions: { readonly: true, defaultValue: CurentTime() }, align: "left", width: 180, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                        { name: 'TerminalSimCardCreateTime', index: 'TerminalSimCardCreateTime', editable: true, editoptions: { readonly: true, defaultValue: CurentTime() }, align: "left", width: 180, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }
                    ],
                    //   multiselect: true,
                    //  rownumbers: true,//添加左侧行号
                    altRows: true,//设置为交替行表格,默认为false
                    rowNum: 10,
                    height: 'auto',
                    rowList: [10, 20, 30],
                    pager: '#pjqgrid',
                    sortname: 'TerminalSimCardUpdateTime',
                    viewrecords: true,//定义是否要显示总记录数
                    toolbarfilter: true,
                    sortorder: "desc",
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    postData: { userId: '123456' },
                    editurl: '@Url.Action("Post", "TerminalSimCard")', // this is dummy existing url
                    //caption: "SIM卡管理",
                    //multiselect: true,
                    autowidth: true
                });
            jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                edit: false,
                add: false,
                del: true
            },
            {},
                   {},
                   {},
                   { multipleSearch: true, multipleGroup: true }
            );

           

            jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
            /* Add tooltips */
            $('.navtable .ui-pg-button').tooltip({
                container: 'body'
            });
            // update buttons
            UpJqGridClass();
            $(window).on('resize.jqGrid', function () {
                jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
            })

        });

    </script>
}





