@{
    ViewBag.Title = "SIM卡管理";
    Layout = "~/Views/Shared/_LayoutFlattyMain.cshtml";
}

@section styles{

    <link href="~/Content/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/jqGrid.overrides.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/select2-3.5.1/select2.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/select2-3.5.1/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/artDialog/css/ui-dialog.css" rel="stylesheet" />
}
<div class='row' id='content-wrapper'>
    <div class='col-xs-12'>
      @Html.Partial("_PartialTerminalEquipmentNav")
        <div class="row">
            <div style="margin-bottom: 0" class="col-sm-12 box">
                <div class="box-header blue-background">
                    <div class="title"><i class=" icon-list "></i>  SIM卡列表</div>
                    <div class="actions">
                        <a href="#" class="btn box-remove btn-xs btn-link">
                            <i class="icon-remove"></i>
                        </a>

                        <a href="#" class="btn box-collapse btn-xs btn-link">
                            <i></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <table id="grps"></table> <div id="pgrps"></div>

                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/i18n/grid.locale-cn.js"></script>
    <script src="~/Scripts/plugins/select2-3.5.1/select2.js"></script>
    <script src="~/Scripts/plugins/select2-3.5.1/select2_locale_zh-CN.js"></script>
    <script src="~/Scripts/plugins/artDialog/dist/dialog-plus.js"></script>
    <script type="text/javascript">
        //$(document).ajaxError(function (e, xhr, opt) {
        //    $.each(xhr.responseJSON.ModelState, function (index, item) {
        //        debugger;
        //        alert(index);
        //    })

        //});
        $(document).ready(function () {
            //点击事件
            $("#equipmentDetail").click(function () {
                var rowId = $("#grps").jqGrid("getGridParam", "selrow");
                if (rowId == null) {
                    var d = dialog({
                        title: '提示',
                        content: '请选择设备！'
                    });
                    d.show();
                    return;
                } else {
                    var rowData = $("#grps").jqGrid("getRowData", rowId);
                    window.location.href = "../../Terminal/Detail/" + rowData.TerminalEquipmentNum;
                }
            });
            $("#equipmentMap").click(function () {
                var rowId = $("#grps").jqGrid("getGridParam", "selrow");
                if (rowId == null) {
                    var d = dialog({
                        title: '提示',
                        content: '请选择设备！'
                    });
                    d.show();
                    return;
                } else {
                    var rowData = $("#grps").jqGrid("getRowData", rowId);
                    window.location.href = "../../Terminal/Map/" + rowData.TerminalEquipmentNum;
                }
            });
            jQuery("#grps").jqGrid(
                {
                    url: '@Url.Action("Get", "TerminalSimCard")',
                    datatype: "json",
                    mtype: "get",                   
                    colNames:
                        ['Id', 'SIM卡号', '序列号', '当前状态', '更新时间', '创建时间'],
                    colModel: [
                        { name: 'TerminalSimCardId', key: true, index: 'TerminalSimCardId', editable: true, width: 55, hidden: true },
                        { name: 'TerminalSimCardNum', index: 'TerminalSimCardNum', editable: true, width: 60 },
                        { name: 'TerminalSimCardSerialNum', index: 'TerminalSimCardSerialNum', editable: true, width: 120 },
                        { name: 'TerminalSimCardState', index: 'TerminalSimCardState', editable: true, width: 90, edittype: "select", formatter: "select", editoptions: { value: "1:未使用; 2:已使用; 3:未开通; 4:已作废" }, align: "left" },
                        { name: 'TerminalSimCardUpdateTime', index: 'TerminalSimCardUpdateTime', editable: true, editoptions: { readonly: true, defaultValue: CurentTime() }, align: "left", width: 180, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                        { name: 'TerminalSimCardCreateTime', index: 'TerminalSimCardCreateTime', editable: true, editoptions: { readonly: true, defaultValue: CurentTime() }, align: "left", width: 180, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }
                    ],
                    //   multiselect: true,
                    //  rownumbers: true,//添加左侧行号
                    altRows: true,//设置为交替行表格,默认为false
                    rowNum: 10,
                    width: 700,
                    rowList: [10, 20, 30],
                    pager: '#pgrps',
                    sortname: 'TerminalSimCardUpdateTime',
                    viewrecords: true,//定义是否要显示总记录数
                    sortorder: "desc",
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    postData: { userId: '123456' },
                    // caption: "终端信息表",
                    // shrinkToFit: false,
                    //width: 'auto',
                    height: '100%',
                    editurl: '@Url.Action("Post", "TerminalSimCard")' // this is dummy existing url
                               
                   
                });
            jQuery("#grps").jqGrid('navGrid', '#pgrps',
                { edit: true, add: true, del: true },
                {
                    editCaption: "编辑",
                    top: "5",
                    left: "5",
                    jqModal: false,
                    reloadAfterSubmit: true,
                    closeAfterEdit:true,
                    recreateForm: true,
                    clearAfterAdd:true,//保存后清空数据
                    afterShowForm: function (form) {
                        $("#PmFInterpreterId").select2();
                    }
                },
                {
                    editCaption: "添加",
                    top: "5",
                    left: "5",
                    jqModal: false,
                    reloadAfterSubmit: true,
                    recreateForm: true,
                    afterShowForm: function (form) {
                        $("#PmFInterpreterId").select2();
                    }
                },
                {},
                { multipleSearch: true, multipleGroup: true });
            //test responsiveness
            $(window).on('resize', function (event, ui) {
                // Get width of parent container
                var parWidth = $("#gbox_grps").parent().width();
                var curWidth = $("#gbox_grps").width();
                //console.log("span width " + parWidth + " gridWidth " + gWidth);
                var w = parWidth - 1; // Fudge factor to prevent horizontal scrollbars
                if (Math.abs(w - curWidth) > 2) {
                    //alert("resize to " + width);
                    console.log("span width " + parWidth + " gridWidth " + curWidth);
                    $("#grps").setGridWidth(w);
                    console.log("new width " + w);
                }
            }).trigger('resize');
        });

    </script>
}





