<div id="content">
    <!-- Bread crumb is created dynamically -->
    <!--
       The ID "widget-grid" will start to initialize all widgets below
       You do not need to use widgets if you dont want to. Simply remove
       the <section></section> and you can use wells or panels instead
       -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget " id="wid-id-1" data-widget-editbutton="false">
                    <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"
        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>企业信息</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body  no-padding">
                            <div class="table-responsive">
                               
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
                <article class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false">
                        <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>企业信息</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">
                                <form class="form-horizontal">

                                    <fieldset>
                                        <legend>Default Form Elements</legend>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Text field</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="Default Text Field" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Auto Complete</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="Type somethine..." type="text" list="list">
                                                <datalist id="list">
                                                    <option value="Alexandra">Alexandra</option>
                                                    <option value="Alice">Alice</option>
                                                    <option value="Anastasia">Anastasia</option>
                                                    <option value="Avelina">Avelina</option>
                                                    <option value="Basilia">Basilia</option>
                                                    <option value="Beatrice">Beatrice</option>
                                                    <option value="Cassandra">Cassandra</option>
                                                    <option value="Cecil">Cecil</option>
                                                    <option value="Clemencia">Clemencia</option>
                                                    <option value="Desiderata">Desiderata</option>
                                                    <option value="Dionisia">Dionisia</option>
                                                    <option value="Edith">Edith</option>
                                                    <option value="Eleanora">Eleanora</option>
                                                    <option value="Elizabeth">Elizabeth</option>
                                                    <option value="Emma">Emma</option>
                                                    <option value="Felicia">Felicia</option>
                                                    <option value="Florence">Florence</option>
                                                    <option value="Galiana">Galiana</option>
                                                    <option value="Grecia">Grecia</option>
                                                    <option value="Helen">Helen</option>
                                                    <option value="Helewisa">Helewisa</option>
                                                    <option value="Idonea">Idonea</option>
                                                    <option value="Isabel">Isabel</option>
                                                    <option value="Joan">Joan</option>
                                                    <option value="Juliana">Juliana</option>
                                                    <option value="Karla">Karla</option>
                                                    <option value="Karyn">Karyn</option>
                                                    <option value="Kate">Kate</option>
                                                    <option value="Lakisha">Lakisha</option>
                                                    <option value="Lana">Lana</option>
                                                    <option value="Laura">Laura</option>
                                                    <option value="Leona">Leona</option>
                                                    <option value="Mandy">Mandy</option>
                                                    <option value="Margaret">Margaret</option>
                                                    <option value="Maria">Maria</option>
                                                    <option value="Nanacy">Nanacy</option>
                                                    <option value="Nicole">Nicole</option>
                                                    <option value="Olga">Olga</option>
                                                    <option value="Pamela">Pamela</option>
                                                    <option value="Patricia">Patricia</option>
                                                    <option value="Qiana">Qiana</option>
                                                    <option value="Rachel">Rachel</option>
                                                    <option value="Ramona">Ramona</option>
                                                    <option value="Samantha">Samantha</option>
                                                    <option value="Sandra">Sandra</option>
                                                    <option value="Tanya">Tanya</option>
                                                    <option value="Teresa">Teresa</option>
                                                    <option value="Ursula">Ursula</option>
                                                    <option value="Valerie">Valerie</option>
                                                    <option value="Veronica">Veronica</option>
                                                    <option value="Wilma">Wilma</option>
                                                    <option value="Yasmin">Yasmin</option>
                                                    <option value="Zelma">Zelma</option>
                                                </datalist>
                                                <p class="note"><strong>Note:</strong> works in Chrome, Firefox, Opera and IE10.</p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Password field</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="Password field" type="password" value="mypassword">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Textarea</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" placeholder="Textarea" rows="4"></textarea>
                                            </div>
                                        </div>


                                    </fieldset>
</div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
</div>

        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
@section scripts{
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/jquery.jqGrid-4.6.0/js/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pageSetUp();
            jQuery("#grps").jqGrid(
                {
                    url: '@Url.Action("Get", "OrgEnterprise")',
                    datatype: "json",
                    mtype: "get",
                    colNames:
                        ['Id', '企业编号', '企业名称', '描述', '更新时间', '创建时间'],
                    colModel: [
                        { name: 'OrgEnterpriseId', key: true, index: 'EquipmentId', editable: true, editoptions: { readonly: true }, hidden: true },
                        { name: 'OrgEnterpriseNum', index: 'EquipmentNum', editable: true, width: 40 },
                        { name: 'OrgEnterpriseName', index: 'EquipmentName', editable: true, width: 100 },
                         { name: 'OrgEnterpriseDescribe', index: 'EquipmentName', editable: true, width: 100 },
                        { name: 'OrgEnterpriseUpdateTime', index: 'EquipmentCreatTime', sorttype: 'date', editable: true, editoptions: { readonly: true, defaultValue: CurentTime() }, align: "left", width: 180, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                        { name: 'OrgEnterpriseCreateTime', index: 'EquipmentUpDateTime', sorttype: 'date', editable: true, editoptions: { readonly: true, defaultValue: CurentTime() }, align: "left", width: 180, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }
                    ],
                    rowNum: 10,
                    autowidth: true,
                    rowList: [10, 20, 30],
                    pager: '#pgrps',
                    sortname: 'OrgEnterpriseUpdateTime',
                    viewrecords: true,//定义是否要显示总记录数
                    sortorder: "desc",
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    //caption: "企业信息表",
                    height: '100%',
                    editurl: '@Url.Action("Post", "OrgEnterprise")' // this is dummy existing url
                });
            jQuery("#grps").jqGrid('navGrid', '#pgrps',
                { edit: false, add: false, del: true },
                {},
                {},
                {},
                { multipleSearch: true, multipleGroup: true });
            //test responsiveness
            jQuery("#grps").jqGrid('inlineNav', "#pgrps");
            //替换样式
            replaceJqgrid();

        });

    </script>
}

