<div class="form-group">
    <label class="col-md-3 control-label">{{field.field_title}}：</label>
    <div class="col-md-9">
        <input type="text"
               class="form-control"
               ng-model="field.field_value"
               ng-value="{{field.field_value}}"
               ng-required="field.field_required"
               ng-disabled="field.field_disabled">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
</div>
