@{
    ViewBag.Title = "车辆管理";
}
<div id="content">
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-fullscreenbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                        <h2> 车辆列表 </h2>
                        <div class="widget-toolbar">
                            <!-- add: non-hidden - to disable auto hide -->
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                                        <input type="text" placeholder="选择终端" id="TerminalEquipmentIdSelect2" class="col-xs-9">
                                    </div>
                                    <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                                        <button class="btn btn-success" id="SetTerminalEquipment">
                                            <i class="fa fa-plus"></i> <span class="hidden-mobile">安装终端</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <table id="jqgrid"></table> <div id="pjqgrid"></div>
                            <div class="widget-footer">
                            </div>
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
@section scripts{
    <script type="text/javascript">
        var d, TerminalEquipmentId, ids;
        $(document).ready(function () {
            // $("#OrgEnterpriseId").val("");
            $("#SetTerminalEquipment").click(function () {
                TerminalEquipmentId = $('#TerminalEquipmentIdSelect2').val();
                ids = $("#jqgrid").jqGrid("getGridParam", "selrow");

                if (TerminalEquipmentId == "") {
                    var d = dialog({
                        title: '提示',
                        content: '请选择终端设备！'
                    });
                    d.show();
                    return;
                } else if (ids == "") {
                    d = dialog({
                        title: '提示',
                        content: '请选择要绑定的设备！',
                        ok: function () { }
                    });
                    d.show();
                    return;
                } else {
                    d = dialog({
                        title: '提示',
                        content: '确定要绑定当前终端到设备吗？',
                        ok: function () {
                            var that = this;
                            this.title('正在提交..');
                            $.post("@Url.Action("UpdateEquipmentId", "TerminalEquipment")",
                                { TerminalEquipmentId: TerminalEquipmentId, EquipmentIds: ids },
                                function (result) {
                                    that.close().remove();
                                    $("#jqgrid").trigger("reloadGrid");
                                });
                            return false;
                        },
                        cancelValue: '取消',
                        cancel: function () { }
                    });
                    d.show();
                }

            });

            //表格数据
            jQuery("#jqgrid").jqGrid(
                {
                    url: '@Url.Action("Get", "Equipment")',
                    datatype: "json",
                    mtype: "get",
                    colNames:
                       ['Id', '车牌号', '机器系列号', '车主姓名', '车主联系电话', '车主住址', '安装时间', '安装人', '安装人联系电话', '安装位置', '安装地点', '创建时间', '更新时间'],
                    colModel: [
                       { name: 'EquipmentId', key: true, index: 'EquipmentId', hidden: true },
                    { name: 'EquipmentNum', index: 'EquipmentNum' },
                    { name: 'EquipmentName', index: 'EquipmentName' },
                    { name: 'OwnerName', index: 'OwnerName' },
                    { name: 'OwnerPhone', index: 'OwnerPhone' },
                    { name: 'OwnerAddress', index: 'OwnerAddress' },
                    { name: 'InstallTime', index: 'InstallTime' },
                    { name: 'InstallUser', index: 'InstallUser' },
                    { name: 'InstallUserPhone', index: 'InstallUserPhone' },
                    { name: 'InstallPlace', index: 'InstallPlace' },
                    { name: 'InstallSite', index: 'InstallSite' },
                    { name: 'EquipmentCreatTime', index: 'EquipmentCreatTime', sorttype: 'date', editable: true, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }, width: 80, align: "right", editoptions: { readonly: true, defaultValue: CurentTime() } },
                    { name: 'EquipmentUpDateTime', index: 'EquipmentUpDateTime', sorttype: 'date', editable: false, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }, editoptions: { readonly: true }, editrules: { date: true }, width: 80, align: "right" }
                    ],
                    // multiselect: true,
                    rowNum: 10,
                    //autowidth: true,
                    rowList: [10, 20, 30],
                    pager: '#pjqgrid',
                    sortname: 'EquipmentUpDateTime',
                    viewrecords: true,//定义是否要显示总记录数
                    sortorder: "desc",
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        userdata: "userdata"
                    },
                    // caption: "终端信息表",
                    height: '100%',
                    editurl: '@Url.Action("Post", "Equipment")', // this is dummy existing url
                    subGrid: true,
                    subGridRowExpanded: function (subgrid_id, row_id) {  // (2)子表格容器的id和需要展开子表格的行id，将传入此事件函数
                        var subgrid_table_id;
                        subgrid_table_id = subgrid_id + "_t";   // (3)根据subgrid_id定义对应的子表格的table的id

                        var subgrid_pager_id;
                        subgrid_pager_id = subgrid_id + "_pgr"  // (4)根据subgrid_id定义对应的子表格的pager的id

                        // (5)动态添加子报表的table和pager
                        $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + subgrid_pager_id + "' class='scroll'></div>");
                       
                        // (6)创建jqGrid对象
                        $("#" + subgrid_table_id).jqGrid({
                            url: '@Url.Action("GetSubGrid", "TerminalEquipment")',  // (7)子表格数据对应的url，注意传入的contact.id参数
                            datatype: "json",
                            colNames: ['Id', '终端编号', '绑定时间'],
                            colModel: [
                                { name: "TerminalEquipmentId", index: "TerminalEquipmentId", width: 80, key: true, hidden: true },
                                { name: "TerminalEquipmentNum", index: "TerminalEquipmentNum", width: 130 },                               
                                { name: "TerminalEquipmentUpdateTime", index: "TerminalEquipmentUpdateTime", width: 200, align: "center", sorttype: 'date', editable: false, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }
                            ],
                            jsonReader: {   // (8)针对子表格的jsonReader设置
                                root: "rows",
                                page: "page",
                                total: "total",
                                records: "records",
                                repeatitems: false,
                                userdata: "userdata"
                            },
                            postData: { subRowId: row_id },
                            viewrecords: true,
                            height: "100%",
                            rowNum: 5,
                            sortname: 'TerminalEquipmentUpdateTime',
                        });
                    }
                });
            jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                addfunc: add,
                editfunc: edit,
                delfunc: del,
                alerttext: "请选择需要操作的数据行!"
            },
                 {},
                 {},
                 {},
                 { multipleSearch: true, multipleGroup: true }
           );
            //修改样式
            jqgridStyle();

        });
        var initSelect2 = function (elem) {
            setTimeout(function () {
                $(elem).select2();
            }, 1000);
        }
        // $("#OrgEnterpriseId").val("");
        $("#SetOrgEnterprise").click(function () {
            OrgEnterpriseId = $('#OrgEnterpriseId').val();
            ids = $("#grps").jqGrid("getGridParam", "selarrrow");
            if (OrgEnterpriseId == "") {
                var d = dialog({
                    title: '提示',
                    content: '请选择企业！'
                });
                d.show();
                return;
            } else if (ids == "") {
                d = dialog({
                    title: '提示',
                    content: '请选择要分配的设备！',
                    ok: function () { }
                });
                d.show();
                return;
            } else {
                d = dialog({
                    title: '提示',
                    content: '确定要分配当前设备吗？',
                    ok: function () {
                        var that = this;
                        this.title('正在提交..');
                        $.post("/TerminalEquipment/UpdateOrgEnterprise",
                            { OrgEnterpriseId: OrgEnterpriseId, TerminalEquipmentIds: ids },
                            function (result) {
                                that.close().remove();
                                $("#grps").trigger("reloadGrid");
                            });
                        return false;
                    },
                    cancelValue: '取消',
                    cancel: function () { }
                });
                d.show();
            }

        });

        //添加  修改  删除操作
        var add = function () {
            window.location.href = "/Equipment/Create";

        };
        var edit = function (rowid) {
            window.location.href = "/Equipment/Edit/" + rowid;
        };
        var del = function (rowid) {
            d = dialog({
                title: '提示信息',
                content: '确认删除当前车辆吗？',
                okValue: '确定',
                ok: function () {
                    this.title('提交中…');
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: "/Equipment/Post",
                        data: { oper: "del", id: rowid },
                        dataType: "json",
                        success: function (data) {
                            that.close().remove();
                            $("#jqgrid").trigger("reloadGrid");
                        }
                    });
                    return false;
                },
                cancelValue: '取消',
                cancel: function () { }
            });
            d.show();
        };
        $(window).on('resize.jqGrid', function () {
            jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
        })
    </script>
}





